.header_list > li {
    
    display: inline-block;
    padding: 0 5px;
    color: white;
}

@font-face {
    font-family: "skntmax-font", sans-serif;
    src: url('./../assets/fonts/Anta-Regular.ttf') format("truetype");
}

.anta-regular {
    font-family: "skntmax-font", sans-serif ;
    font-weight: 400;
    font-style: normal;
  }

  .ant-menu-dark.ant-menu-horizontal >.ant-menu-item-selected {
    background-color:transparent !important
  }

  .shadowfilter {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
     filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

